<ion-toolbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <section class="container">
    <app-owner-info
    [currentUserInfoEmail]="currentUserInfoEmail"
    [currentUserInfoName]="currentUserInfoName"
    [currentUserInfoPhone]="currentUserInfoPhone"
    ></app-owner-info>
    
    <ion-grid>
      <ion-row class="media-container">
        <ion-col class="ion-justify-content-start">
          <h1>Serviços Disponíveis</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="list-services">
      <ion-row id="services-boards" class="media-container col-services" >

          <app-services-board 
          serviceName="{{activeServices[i].serviceName}}"
          timeWork="{{activeServices[i].timeWork}}"
          serviceId="{{activeServices[i].serviceId}}"
          *ngFor="let el of activeServices; index as i"></app-services-board>

      </ion-row>
    </ion-grid>

  </section>
</ion-content>

