<ion-toolbar>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <section class="container">

    <h1 class="ion-padding-top bg-title">{{bgTitle}}</h1>

    <app-create-service *ngIf="!existentService"></app-create-service>

    <ion-row class="services-calendar-container" id="service-row" *ngIf="existentService">
      <ion-col size-lg="4" size-md="3.5" size="auto" class="form-col">
        <ion-title color="primary">Definições</ion-title>
        <ion-title class="ion-padding-top">{{actualService['serviceName']}}</ion-title>
        <form [formGroup]="serviceUpdateForm" novalidate method="PUT">
          <ion-row>
            <span class="input-title">Nome do serviço:</span>
            <ion-input fill="outline" type="text" placeholder="{{actualService['serviceName']}}" formControlName="nome"
              [(ngModel)]="serviceUpdated.nomeServico"></ion-input>
          </ion-row>

          <ion-row>
            <span class="input-title">Dias da semana disponíveis para reserva:</span>
            <ion-col size="auto" class="days-list">
              <ion-checkbox labelPlacement="end" alias="0" value="0"
                (click)="activeCheckbox($event.target)">Domingo</ion-checkbox>
              <ion-checkbox labelPlacement="end" alias="1" value="1"
                (click)="activeCheckbox($event.target)">Segunda</ion-checkbox>
              <ion-checkbox labelPlacement="end" alias="2" value="2"
                (click)="activeCheckbox($event.target)">Terça</ion-checkbox>
              <ion-checkbox labelPlacement="end" alias="3" value="3"
                (click)="activeCheckbox($event.target)">Quarta</ion-checkbox>
            </ion-col>

            <ion-col size="auto" class="days-list">
              <ion-checkbox labelPlacement="end" alias="4" value="4"
                (click)="activeCheckbox($event.target)">Quinta</ion-checkbox>
              <ion-checkbox labelPlacement="end" alias="5" value="5"
                (click)="activeCheckbox($event.target)">Sexta</ion-checkbox>
              <ion-checkbox labelPlacement="end" alias="6" value="6"
                (click)="activeCheckbox($event.target)">Sábado</ion-checkbox>
            </ion-col>
          </ion-row>

          <ion-row>
            <span class="input-title">Horário de atendimento:</span>
            <br>
            <ion-input type="time" class="time-select" fill="outline" label="Das:" labelPlacement="floating"
              formControlName="startTime" [(ngModel)]="serviceUpdated.horarioInicio"
              value="{{actualService['startTime']}}">
            </ion-input>
            <ion-input type="time" class="time-select" fill="outline" label="Até as:" labelPlacement="floating"
              formControlName="endTime" [(ngModel)]="serviceUpdated.horarioFinal" value="{{actualService['endTime']}}">
            </ion-input>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-button type="submit" (click)="onSubmit()">Atualizar
              serviço</ion-button>
            <ion-button type="submit" color="danger" fill="outline" id="open-modal">Remover serviço</ion-button>
          </ion-row>
        </form>
      </ion-col>

      <ion-col size-lg="5" size-md="5" size="auto" class="calendar-col">
        <ion-toolbar>
          <ion-nav>
            <ion-title style="text-transform: capitalize;" color="primary"
              class="ion-text-center">{{viewTitle}}</ion-title>
            <ion-buttons class="ion-justify-content-between">
              <ion-button (click)="calendarBack()"><ion-icon
                  name="chevron-back-outline"></ion-icon>Anterior</ion-button>
              <ion-button [disabled]="isToday" (click)="today()">Hoje</ion-button>
              <ion-button (click)="calendarForward()">Próximo<ion-icon
                  name="chevron-forward-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-nav>
        </ion-toolbar>
        <calendar class="services-calendar" 
          [calendarMode]="calendar.mode"
          [currentDate]="calendar.currentDate"
          [markDisabled]="markDisabled"
          [timeInterval]="30"
          [endHour]="setEndHour"
          [startHour]="setStartHour" 
          noEventsLabel=""
          allDayLabel="" 
          (onTitleChanged)="onViewTitleChanged($event)"
          [step]="calendar.step">
        </calendar>
      </ion-col>

      <ion-col size-lg="3" size-md="3.5" size="auto" class="time-col">
        <ion-title color="primary">Horários disponíveis</ion-title>
        <ion-segment>
          <ion-list style="display: flex; flex-direction: column;">
            <ion-button fill="outline" *ngFor="let horas of horariosDisponiveis">{{horas}}</ion-button>
          </ion-list>
        </ion-segment>
      </ion-col>
    </ion-row>

  </section>



  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss()">
    <ng-template>

        <div class=" modal-content">
          <ion-toolbar class="modal-toolbar">
            <ion-icon slot="end" name="close" size="large" (click)="onWillDismiss()"></ion-icon>
        </ion-toolbar>

          <h2 class="ion-text-center">Confirme que deseja excluir o serviço</h2>

          <section class="ion-text-center">
            <p>Removendo o serviço:</p>
            <ion-title color="primary ion-padding-bottom">
              {{ actualService['serviceName'] }}
            </ion-title>
            <span>
              Funciona das:
              <strong>{{ actualService['startTime'] }}</strong>
              até as
              <strong> {{ actualService['endTime'] }}</strong>

            </span>
            <br><br>
            <p class="ion-text-center">
              Se realmente deseja excluir o serviço e todas as reservas relacionadas a ele confirme clicando em remover
              serviço.
            </p>

          </section>

          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="removeService()" [strong]="true" color="danger" fill="outline">Remover Serviço</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </div>

    </ng-template>
  </ion-modal>

</ion-content>