<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-list border-radius-md">
  <!-- Position Column -->
  <ng-container matColumnDef="idReserva">
    <th mat-header-cell *matHeaderCellDef>ID Reserva</th>
    <td mat-cell *matCellDef="let element">#{{element.idReserva}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cliente">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let element">{{element.cliente}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="servico">
    <th mat-header-cell *matHeaderCellDef>Serviço</th>
    <td mat-cell *matCellDef="let element">{{element.servico}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="horario">
    <th mat-header-cell *matHeaderCellDef>Horário</th>
    <td mat-cell *matCellDef="let element">{{element.horario}}</td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let element">{{element.data}}</td>
  </ng-container>

  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef>Situação</th>
    <td mat-cell *matCellDef="let element">{{element.situacao}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
</table>

<!-- <div>
  <h3>
    Click Log
  </h3>
</div>

@if (!clickedRows.size) {
  <div>Clicked rows will be logged here</div>
}

<ul>
  @for (clickedRow of clickedRows; track clickedRow) {
    <li>Clicked on {{clickedRow.cliente}}</li>
  }
</ul> -->
