.table-list {
    width: 100%;
    background-color: #F8F8F8;
    margin-bottom: 3rem;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.mat-mdc-header-row {
    background-color: #F2F2F2;
}

th,
td {
    color: #676767;
}

// .demo-row-is-clicked {
//     font-weight: bold;
// }

/** media **/
@media screen and (max-width:768px) {
    table {
        width: 10% !important;
    }

}

.aguardando {
    color: var(--ion-color-warning-shade);
}

.aprovado {
    color: var(--ion-color-success);
}

.rejeitado {
    color: var(--ion-color-danger);
}


.pagination-buttons {
    display: flex;
    justify-content: end;
    color: #858585;
    transition: .6s;
    margin-block: -1rem 2rem;

    ion-button{ 
        --border-style: solid;
        --border-width: 1px;
        --border-color: #85858533;
        --border-radius: 4px;
        --padding-end:1.225rem;
        --padding-start:1.225rem;
        --padding-top:.825rem;
        --padding-bottom:.825rem;
        transition: .6s;
    }
}

.pagination-buttons:hover {
    transition: .6s;

    ion-button:hover:not(.count){
        color: var(--ion-color-primary);
        --border-color: var(--ion-color-primary);
        transition: .6s;
    }
}

ion-button.count{
    cursor: none !important;
    --border-style: none !important;
    --border-width: 0 !important;
}



ion-modal{
    --max-width: 440px!important;
    --max-height:480px!important;
    --border-radius:var(--border-radius-md);
}