<ion-header [translucent]="false">
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{'bg-color':isBgDark}">

  <section class="container-max" [ngClass]="{'hide':isRegistrationSend}">
    <ion-row class="ion-justify-content-center login-container">
      <ion-col size="6" class="ion-padding-horizontal login-img">

        <h1 class="ion-text-center ion-padding-bottom main-logo">Reserva</h1>
      </ion-col>
      <ion-col size="6" class="ion-padding-horizontal login-form">

        <form [formGroup]="registerForm" novalidate class="wrapper" method="POST" >
          <h2>Criar sua conta</h2>
          <ion-input class="ion-margin-vertical" placeholder="nome ou instituição..." formControlName="nome"
            fill="outline" errorText="Digite um nome válido" [(ngModel)]="newUserRegister.nome">
            <span *ngIf="registerForm.controls.nome.hasError('required')" slot="end" class="error-log">Nome é
              obrigatório</span>
          </ion-input>

          <ion-input class="ion-margin-vertical" placeholder="seu melhor email..." formControlName="email"
            fill="outline" errorText="Digite um email válido" [(ngModel)]="newUserRegister.email">
            <span *ngIf="registerForm.controls.email.hasError('required')" slot="end" class="error-log">Email é
              obrigatório</span>
            <span *ngIf="registerForm.controls.email.hasError('email')" slot="end" class="error-log">Digite um email
              válido</span>
            <span *ngIf="registerForm.controls.email.hasError('emailAlreadyExists')" slot="end" class="error-log">Email
              já cadastrado</span>
          </ion-input>

          <ion-input class="ion-margin-vertical" placeholder="seu telefone..." formControlName="telefone" fill="outline"
            errorText="Digite um telefone válido" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
            [(ngModel)]="newUserRegister.telefone">
          </ion-input>

          <ion-input class="ion-margin-vertical" placeholder="digite uma senha..." formControlName="senha"
            [type]="passwordShow" fill="outline" errorText="Senha precisa ter no mínimo 6 caracteres">
            <span *ngIf="registerForm.controls.senha.hasError('required')" slot="end" class="error-log">Senha é
              obrigatório</span>
            <ion-icon [name]="iconShow" size="large" slot="end" (click)="showPassword()"></ion-icon>
          </ion-input>

          <ion-input class="ion-margin-vertical" placeholder="confirme a senha..." formControlName="confirmarSenha"
            [type]="passwordShow" fill="outline" errorText="As senhas devem ser idênticas"
            *ngIf="registerForm.controls.senha.valid" [(ngModel)]="newUserRegister.password">
            <ion-icon [name]="iconShow" size="large" slot="end" (click)="showPassword()"></ion-icon>
          </ion-input>

          <ion-button type="submit" fill="solid" color="secondary" expand="block"
            class="ion-padding-vertical btn-submit" [disabled]="!registerForm.valid"
            (click)="onSubmit()">Cadastrar</ion-button>

            <p class="ion-text-center">Ao criar uma conta, você concorda com os
              Termos de Serviço e Política de Privacidade do <strong>JáReserva.</strong></p>
            <p class="ion-text-center">Já é cadastrado? <a href="http://127.0.0.1:9000">Conecte-se</a></p>

        </form>

      </ion-col>
    </ion-row>
  </section>

  <app-return-page
[title]="title"
[content]="content"
[returnToPage]="backToLogin"
buttonTittle="Fazer Login"
*ngIf="isRegistrationSend"
>
</app-return-page>

</ion-content>