<ion-col>
  <ion-card class="service-card border-radius-md">
    <ion-card-header class="header-container" *ngIf="isAdmin">
      <ion-icon name="create" size="large" class="edit-icon" (click)="onClick()"></ion-icon>
    </ion-card-header>
    <section>
      
      <ion-card-title>{{serviceName}}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{timeWork}}</ion-card-subtitle>
    </section>

    <ion-button (click)="toDetails()"  *ngIf="isAdmin">Detalhes do Serviço</ion-button>
    <ion-button (click)="goToCalendar()" *ngIf="!isAdmin" color="secondary">Fazer sua reserva</ion-button>
  </ion-card>
</ion-col>