@media screen and (max-width:768px){
    ion-grid{
        max-width: 90vw;
    }

    .media-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #service-row{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        
        .time-col{
            padding-left: 2rem;
            display: none
        }
        
        .form-col{
            padding-right: 2rem;
        }
        
        
        .input-title{
            font-size: calc(var(--font-md) + .125rem);
            margin-block: 2rem 1rem;
        }
        
        .time-select{
            display: flex!important;
            max-width: 100% !important;
            margin-right: auto!important;
        }
}